.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.fill-form {
    display: flex;
    flex-direction: column;
    width: 25%;
}

img {
    width: 40%;
    height: 40%;
}