<div class="container">


    <img src="../../assets/form-signup.svg" alt="">

    <div class="fill-form">

        <h3>Digite suas informações</h3>

        <mat-form-field appearance="outline">
            <mat-label>Digite seu nome</mat-label>
            <input matInput placeholder="Ex. Fulano Sicrano" type="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Digite seu email</mat-label>
            <input matInput placeholder="Ex. meuemail@email.com" type="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Digite sua senha</mat-label>
            <input matInput placeholder="Ex. umasenhabemforte" type="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Digite o número do seu cartão</mat-label>
            <input matInput placeholder="Ex. 0000 0000 0000 0000" type="text">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Informe sua data de nascimento</mat-label>
            <input matInput type="date">
        </mat-form-field>

        <div>
            <button mat-stroked-button color="primary"> Cadastar</button>
            <button mat-button [routerLink]="'/login'" >Já possuo cadastro!</button>
        </div>
    </div>
</div>
